.container2 {
  background-size: cover;
  margin-top: 20px;
  background-position: center;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.about-container1 {
  max-width: 10000px;
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-container1 h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.paragraphs {
  margin-top: 20px;
}

.about-container1 p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}

@media (max-width: 767px) {
  .container2 {
    background-image: none;
  }

  .about-container1 {
    padding: 10px;
  }
}
