/* Contacts.css */

.contact-container {
  width: 100%;
  padding: 20px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.contact-form img {
  margin-right: 10px;
}


.contact-form .submit-btn {
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .contact-container {
    padding: 10px;
  }
  .contact-heading h2 {
    font-size: 20px;
  }
  .contact-heading p {
    font-size: 14px;
  }
  .form-control {
    padding: 8px;
    font-size: 14px;
  }
  .submit-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.iframe-container {
  width: 100%;
  
}
