#root {
    width: 100%;
    text-align: center
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0
}

::-webkit-scrollbar-thumb {
    background-color: #ff0
}

hr {
    margin: 40px;
    border: 3px solid rgb(255, 255, 255)
}

body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none
}

h2 {
    font-family: Kode Mono, monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2rem;
    font-style: normal
}

#contact {
    padding: 10px;
    color: #000;
    background-color: #fff;
    z-index: 100000
}

.copyright {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0
}

.showhide {
    opacity: 0
}

.registration-counter {
    font-weight: 700;
    color: #ff6f00;
    font-size: 28px
}

.count {
    font-size: 44px
}

.top {
    display: flex;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    background: url(Images/top.gif);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 8%;
    align-items: center
}

.animated-img {
    position: absolute;
    top: 50%;
    width: 40px;
    right: 20%;
    transform: translateY(-40%);
    animation: moveImage 3s linear infinite
}

.animated-img2 {
    position: absolute;
    top: 40%;
    width: 50px;
    right: 10%;
    transform: translateY(-40%);
    animation: moveImage 3s linear infinite
}

.animated-img3 {
    position: absolute;
    top: 60%;
    width: 50px;
    right: 15%;
    transform: translateY(-40%);
    animation: moveImage 3s linear infinite
}

.animated-img4 {
    position: absolute;
    top: 60%;
    width: 250px;
    left: -50%;
    border-radius: 50%;
    transform: translateY(-40%);
    animation: moveLogo 3s linear infinite
}

@keyframes moveLogo {
    0% {
        transform: translateY(-50%)
    }

    25% {
        transform: translateY(-60%) rotate(5deg)
    }

    50% {
        transform: translateY(-70%) rotate(-5deg)
    }

    75% {
        transform: translateY(-80%) rotate(5deg)
    }

    to {
        transform: translateY(-50%)
    }
}

@keyframes moveImage {
    0% {
        transform: translateY(-50%)
    }

    25% {
        transform: translate(10%, -60%)
    }

    50% {
        transform: translateY(-70%)
    }

    75% {
        transform: translate(10%, -80%)
    }

    to {
        transform: translateY(-50%)
    }
}

.heading-def {
    color: #ffeb3b;
    font-size: 5em;
    font-weight: 700;
    font-family: Dancing Script, cursive;
    font-size: 80px;
    text-shadow: 0 1px 0 #c70000, 0 2px 0 #cd0000, 0 3px 0 #d50000, 0 4px 0 #e10000, 0 5px 0 #ae0000, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15)
}

.date {
    margin-top: 20px;
    font-size: 2rem;
    margin-bottom: 0
}

.heading {
    background: linear-gradient(to right, #0074d9, #7fdbff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.75rem;
    font-weight: 700
}

@keyframes glow {
    0% {
        text-shadow: 0 0 2px rgba(255, 255, 255, .5), 0 0 4px rgba(255, 255, 255, .5), 0 0 6px rgba(255, 255, 255, .5), 0 0 8px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 0 0 12px rgba(255, 255, 255, .5), 0 0 14px rgba(255, 255, 255, .5)
    }

    50% {
        text-shadow: none
    }

    to {
        text-shadow: 0 0 2px rgba(255, 255, 255, .5), 0 0 4px rgba(255, 255, 255, .5), 0 0 6px rgba(255, 255, 255, .5), 0 0 8px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5), 0 0 12px rgba(255, 255, 255, .5), 0 0 14px rgba(255, 255, 255, .5)
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top .3s
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px
}

.logo {
    font-size: 24px
}

.logo img {
    width: 40px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%
}

.nav-links {
    list-style: none;
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0
}

.nav-links li {
    padding: 0 15px
}

.nav-links a {
    color: #fff;
    text-decoration: none
}

.menu-icon {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer
}

@media (max-width: 768px) {
    .heading {
        font-size: 3rem
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top .3s
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #000
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0
    }

    .menu-icon {
        display: inline-block
    }
}

.social-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    transition: transform .3s ease;
    margin-right: 12px
}

.social-button:hover {
    transform: translateY(-5px)
}

.social-button img {
    width: 100%;
    height: auto
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-style: normal;
    margin-left: 30px;
    max-width: 600px;
    margin-right: 30px;
    color: rgb(209 213 219 / var(--tw-text-opacity));
    font-weight: lighter
}

.container {
    text-align: center;
    opacity: 0;
    animation: fadeIn forwards
}

.default_container {
    text-align: center
}

h1 {
    color: #fff
}

p {
    color: #acacac
}

#countdown {
    font-size: 36px;
    margin-top: 10px;
    color: #fff
}

.sponsor-section {
    margin-top: 50px;
    text-align: center
}

.sponsor-section h2 {
    color: #ff0
}

.card h2 {
    font-size: 1.2rem
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px
}

.cards .card .img {
    border-radius: 50%
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #ffffff1a;
    margin: 10px;
    padding: 20px;
    min-width: 200px;
    box-shadow: 0 0 40px #fff;
    text-align: center;
    align-items: center;
    max-width: 200px;
    font: 20%
}

.register-btn a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    z-index: 1;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;
    overflow: hidden
}

.register-btn a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}

.register-btn a:nth-child(1) {
    filter: hue-rotate(270deg)
}

.register-btn a:nth-child(2) {
    filter: hue-rotate(110deg)
}

.register-btn a span {
    position: absolute;
    display: block
}

.register-btn a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite
}

@keyframes animate1 {
    0% {
        left: -100%
    }

    50%,
    to {
        left: 100%
    }
}

.card:hover {
    box-shadow: 0 0 20px #98ba00cc
}

.card img {
    max-width: 150px
}

.card .linkedin {
    width: 20%;
    border-radius: 0%;
    cursor: pointer
}

.PastJudges img,
.team img {
    border-radius: 50%
}

.PastJudges .card {
    min-height: 335px
}

.participate .card {
    min-height: 215px
}

.participate img {
    min-height: 150px
}

.card-content h2 {
    color: #000
}

.registration {
    background-color: #ffeb3b;
    text-align: center;
    margin-top: 20px;
    padding: 2px 0
}

.registration h2 {
    font-family: Pacifico, cursive;
    color: #333;
    font-size: 20px
}

footer {
    background-color: #3a374f;
    color: #fff;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.btn {
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s
}

.btn:hover {
    background-color: #0056b3;
    color: #fff
}

.btn-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px
}

.btn-text {
    vertical-align: middle
}

.map-container,
.text-container {
    flex-basis: 100%;
    margin-bottom: 20px
}

.loc {
    width: 30px
}

.map-container img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    border: 0
}

@media only screen and (min-width: 768px) {

    .map-container,
    .text-container {
        flex-basis: 48%;
        margin-bottom: 0
    }
}

.App {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box
}

.background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50%;
    background-size: cover;
    transition: transform 1s
}

.left {
    left: 0;
    background-size: cover;
    background: linear-gradient(to right, rgba(0, 0, 0, .7), transparent);
    transform: translate(-110%)
}

.right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, .7), transparent);
    background-size: cover;
    transform: translate(110%)
}

.loading .background {
    transform: translate(0)
}

.content {
    opacity: 0;
    animation: fadeIn 1s forwards
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3)
    }

    20%,
    75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1)
    }

    to {
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        transform: scale(0)
    }
}

@keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3)
    }

    50% {
        opacity: .5;
        text-shadow: 0px 0px 10px #fff;
        transform: scale(1.1)
    }

    to {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1)
    }
}

.PastSp .card {
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center
}

.animtext {
    animation: blurFadeInOut 2s infinite alternate, blurFadeIn 3s infinite alternate
}

@media (max-width: 767px) {
    .heading {
        animation: none
    }

    .animtext {
        animation: blurFadeInOut 2s infinite alternate, blurFadeIn 3s infinite alternate
    }

    nav {
        background-color: #3a374f
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center
    }

    nav li {
        display: inline-block
    }

    nav li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 10px 7px;
        text-decoration: none
    }

    nav li a:hover {
        background-color: #fff;
        color: #000
    }

    .text {
        font-size: .8rem
    }

    .PastJudges .card .h2 {
        font-size: 15px
    }

    .nav-links li a {
        position: relative;
        color: #fff;
        font-size: 10px;
        font-weight: 100;
        padding: 6px 0;
        text-decoration: none
    }

    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px
    }

    #gallery>* {
        margin: 10px 0
    }

    .navigation img {
        max-width: 30px
    }

    .top {
        background-position: center;
        background: url(Images/mobile.gif)
    }
}

.slider-gallery {
    position: relative;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden
}

.gallery-image {
    width: auto;
    height: 100%;
    object-fit: contain
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000080;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color .3s ease
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #000000b3
}

.prev-btn {
    left: 10px
}

.next-btn {
    right: 10px
}

.contact-container {
    width: 100%;
    padding: 20px
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    to {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-30px)
    }

    60% {
        transform: translateY(-15px)
    }
}

.contact-form img {
    margin-right: 10px
}

.contact-form .submit-btn {
    margin-bottom: 20px
}

@media (max-width: 768px) {
    .contact-container {
        padding: 10px
    }

    .contact-heading h2 {
        font-size: 20px
    }

    .contact-heading p {
        font-size: 14px
    }

    .form-control {
        padding: 8px;
        font-size: 14px
    }

    .submit-btn {
        font-size: 14px;
        padding: 8px 16px
    }
}

.iframe-container {
    width: 100%
}

.container2 {
    background-size: cover;
    margin-top: 20px;
    background-position: center;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center
}

.about-container1 {
    max-width: 10000px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px #0000001a
}

.about-container1 h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif
}

.paragraphs {
    margin-top: 20px
}

.about-container1 p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    font-family: Arial, sans-serif
}

@media (max-width: 767px) {
    .container2 {
        background-image: none
    }

    .about-container1 {
        padding: 10px
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffffde;
    background: url(/Images/bgabstract.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    font-weight: 500;
    color: #00ffea;
    text-decoration: inherit
}

a:hover {
    color: #535bf2
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh
}

h1 {
    font-size: 3.2em;
    line-height: 1.1
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #d4d4d4;
    cursor: pointer;
    transition: border-color .25s
}

button:hover {
    border-color: #646cff
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color
}

@media (prefers-color-scheme: light) {
    :root {
        color: #fff;
        background: url(/Images/bgabstract.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    a:hover {
        color: #8187fc
    }

    button {
        background-color: #fff
    }
}
