.spincard {
  width: 100%; /* Card width set to 100% */
  max-width: 500px;
  min-width: 500px; /* Adjust maximum width as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  background-color: white;
}

.spincard-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spincard-image img {
  width: 50%; /* Adjust image width as needed */
  max-width: 200px; /* Adjust maximum image width as needed */
}

.spincard-image h2 {
  margin-left: 10px;
  color: black;
  font-size: 1.7rem;
  word-wrap: break-word; /* Allow long titles to break into multiple lines */
  max-width: 50%; /* Adjust title maximum width as needed */
}

.spincard-description {
  color: black;
  white-space: pre-wrap;
  text-align: justify;
}

@media (max-width: 768px) {
  .spincard {
    max-width: 400px;
    min-width: 300px;
  }

  .spincard-image h2 {
    font-size: 1rem;
  }
}
