#root {
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  width: 6px; /* You can adjust the width as needed */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: yellow; /* Color of the thumb */
}
hr {
  margin: 40px;
  border: 3px solid rgb(255, 255, 255);
}

body {
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h2 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 2rem;
  font-style: normal;
}

#contact {
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  z-index: 100000;
}

.copyright {
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* .navigation {
  position: fixed;
  top: 0;
  width: 95%;
  background: transparent;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
  z-index: 1000;
} */

.showhide {
  opacity: 0;
}

/* .navigation img {
  max-width: 35px;
  border-radius: 50%;
} */

.registration-counter {
  font-weight: bold;
  color: rgb(255, 111, 0);
  font-size: 28px;
}

.count {
  font-size: 44px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  flex-direction: column;
  background: url("/Images/gif\ logo\ hackhound\ \(1920\ x\ 890\ px\).gif");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 8%;
  align-items: center;
}

.animated-img {
  position: absolute;
  top: 50%;
  width: 40px;
  right: 20%;
  transform: translate(0, -40%);
  animation: moveImage 3s linear infinite;
}

.animated-img2 {
  position: absolute;
  top: 40%;
  width: 50px;
  right: 10%;
  transform: translate(0, -40%);
  animation: moveImage 3s linear infinite;
}

.animated-img3 {
  position: absolute;
  top: 60%;
  width: 50px;
  right: 15%;
  transform: translate(0, -40%);
  animation: moveImage 3s linear infinite;
}

.animated-img4 {
  position: absolute;
  top: 60%;
  width: 250px;
  left: -50%;
  border-radius: 50%;
  transform: translate(0, -40%);
  animation: moveLogo 3s linear infinite;
}

@keyframes moveLogo {
  0% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(-60%) rotate(5deg);
  }
  50% {
    transform: translateY(-70%) rotate(-5deg);
  }
  75% {
    transform: translateY(-80%) rotate(5deg);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveImage {
  0% {
    transform: translate(0, -50%);
  }
  25% {
    transform: translate(10%, -60%);
  }
  50% {
    transform: translate(0%, -70%);
  }
  75% {
    transform: translate(10%, -80%);
  }

  100% {
    transform: translate(0, -50%);
  }
}

.heading-def {
  color: #ffeb3b;
  font-size: 5em;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  text-shadow: 0 1px 0 #c70000, 0 2px 0 #cd0000, 0 3px 0 #d50000,
    0 4px 0 #e10000, 0 5px 0 #ae0000, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.date {
  margin-top: 20px;
  font-size: 2rem;
  margin-bottom: 0;
}

.heading {
  background: linear-gradient(to right, #0074d9 0%, #7fdbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.75rem;
  font-weight: bold;
  /* animation: glow 2.3s infinite alternate; */
  /* text-shadow: 0 1px 0 #c70000, 0 2px 0 #cd0000, 0 3px 0 #d50000,
    0 4px 0 #e10000, 0 5px 0 #ae0000, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 4px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.5),
      0 0 8px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 12px rgba(255, 255, 255, 0.5), 0 0 14px rgba(255, 255, 255, 0.5);
  }

  50% {
    text-shadow: none;
  }

  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 4px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.5),
      0 0 8px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5),
      0 0 12px rgba(255, 255, 255, 0.5), 0 0 14px rgba(255, 255, 255, 0.5);
  }
}

/* nav {
  background-color: #3a374f;
  margin-bottom: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ffffff;
  color: black;
} */

/* .nav-links {
  display: flex;
  background: #000000;
  opacity: 100%;
  border: 1px solid #d4ff00;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li a {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: yellow;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before {
  width: 100%;
}
.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
} */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s; /* Smooth transition for moving up and down */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 10px;
}

.logo {
  font-size: 24px;
}

.logo img {
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s; /* Smooth transition for moving up and down */
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    width: 100%; /* Keep it full width for proper alignment */
    display: none; /* Initially hidden */
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the items */
    justify-content: center;
    position: absolute;
    top: 70px; /* Adjust based on the actual height of your navbar */
    left: 0;
    right: 0; /* This ensures it takes the full width */
    background-color: #000000; /* Keep the background consistent */
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }
  .menu-icon {
    display: inline-block; /* Ensure the icon is always visible */
  }
}

.social-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
  margin-right: 12px;
}
.social-button:hover {
  transform: translateY(-5px);
}

.social-button img {
  width: 100%;
  height: auto;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-style: normal;
  margin-left: 30px;
  max-width: 600px;
  margin-right: 30px;
  color: rgb(209 213 219 / var(--tw-text-opacity));
  font-weight: lighter;
}

.container {
  text-align: center;
  opacity: 0;
  animation: fadeIn forwards;
}

.default_container {
  text-align: center;
}

h1 {
  color: white;
}

p {
  color: #acacac;
}

#countdown {
  font-size: 36px;
  margin-top: 10px;
  color: white;
}

.sponsor-section {
  margin-top: 50px;
  text-align: center;
}

.sponsor-section h2 {
  color: yellow;
}

.card h2 {
  font-size: 1.2rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.cards .card .img {
  border-radius: 50%;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  margin: 10px;
  padding: 20px;
  min-width: 200px;
  box-shadow: 0 0 40px rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  max-width: 200px;
  font: 20%;
}

.register-btn a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  z-index: 1;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
.register-btn a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.register-btn a:nth-child(1) {
  filter: hue-rotate(270deg);
}
.register-btn a:nth-child(2) {
  filter: hue-rotate(110deg);
}
.register-btn a span {
  position: absolute;
  display: block;
}
.register-btn a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.card:hover {
  box-shadow: 0 0 20px rgba(152, 186, 0, 0.8);
}

/* .apply-button {
  display: inline-block;
} */

.card img {
  max-width: 150px;
}

.card .linkedin {
  width: 20%;
  border-radius: 0%;
  cursor: pointer;
}

.PastJudges img {
  border-radius: 50%;
}

.team img {
  border-radius: 50%;
}

.PastJudges .card {
  min-height: 335px;
}

.participate .card {
  min-height: 215px;
}

.participate img {
  min-height: 150px;
}

.card-content h2 {
  color: black;
}

.registration {
  background-color: #ffeb3b;
  text-align: center;
  margin-top: 20px;
  padding: 2px 0;
}

.registration h2 {
  font-family: "Pacifico", cursive;
  color: #333;
  font-size: 20px;
}

footer {
  background-color: #3a374f;
  color: #fff;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  margin: 10px;
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  text-decoration: none; /* Remove default underline */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.btn:hover {
  background-color: #0056b3; /* Darker color on hover */
  color: white;
}

.btn-img {
  width: 20px; /* Adjust image size as needed */
  height: 20px;
  vertical-align: middle; /* Align image vertically with text */
  margin-right: 5px; /* Add some space between image and text */
}

.btn-text {
  vertical-align: middle; /* Align text vertically with image */
}

.map-container,
.text-container {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.loc {
  width: 30px;
}

.map-container img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 0;
}

@media only screen and (min-width: 768px) {
  .map-container,
  .text-container {
    flex-basis: 48%;
    margin-bottom: 0;
  }
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;

  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50%;
  background-size: cover;
  transition: transform 1s;
}

.left {
  left: 0;
  /* background-image: url(/src//assets//image1x1.png); */
  background-size: cover;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  transform: translateX(-110%);
}

.right {
  right: 0;

  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
  /* background-image: url(/src//assets//image2x1.png); */
  background-size: cover;
  transform: translateX(110%);
}

.loading .background {
  transform: translateX(0%);
}

.content {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}

.PastSp .card {
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animtext {
  animation: blurFadeInOut 2s infinite alternate,
    blurFadeIn 3s infinite alternate;
}

@media (max-width: 767px) {
  .heading {
    animation: none;
  }
  .animtext {
    animation: blurFadeInOut 2s infinite alternate,
      blurFadeIn 3s infinite alternate;
  }
  nav {
    background-color: #3a374f;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  nav li {
    display: inline-block;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 7px;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: #ffffff;
    color: black;
  }

  .text {
    font-size: 0.8rem;
  }

  .PastJudges .card .h2 {
    font-size: 15px;
  }

  .nav-links li a {
    position: relative;
    color: #ffffff;
    font-size: 10px;
    font-weight: 100;
    padding: 6px 0;
    text-decoration: none;
  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Align text center */
    padding: 20px; /* Add padding for spacing */
  }

  #gallery > * {
    margin: 10px 0; /* Add margin between elements */
  }

  .navigation img {
    max-width: 30px;
  }

  .top {
    background-position: center; /* Ensures the background is centered */
    background: url("/Images/gif1.gif");
  }
}
